html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body 
        main 
            section.player.player--0.player--active 
                h2#name--0.name Player1 
                p#score--0.score 43
                .current 
                    p.current-label 当前得分
                    p#current--0.current-score 0
            section.player.player--1  
                h2#name--1.name Player2 
                p.score#score--1 24
                .current
                    p.current-label 当前得分
                    p.current-score#current--1 0
            img.dice(src="dice-5-png", alt="Playing dice") 
            button.btn.btn--new 新的游戏
            button.btn.btn--roll 掷骰子
            button.btn.btn--hold 换人
        script(src="script.js")